.dashboard {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  position: relative;
  background: transparent;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
}


/* Responsive */
@media (max-width: 968px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
