.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin-top: 180px;
}

.calculatorSection {
  margin-bottom: 40px;
}

/* Responsive */
@media (max-width: 768px) {
  .container{
    margin-top: 120px;
  }
}

